:root {
    --main-color: #1992D4;
    --accent-color: #F0B429;
    --background-color: #E2E8F0;
    --alternate-bg-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    background-color: var(--background-color);
    font-family: system-ui;

    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(600px, 4fr);
    grid-template-rows: 1fr 4.5fr;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}


.navigation {
    background-color: var(--main-color);
    color: #ffffff;
    grid-row: 1 / -1;

    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    align-content: start;

}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.logo {
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
    object-position: center;
    object-fit: contain;
}

.list-icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    filter: invert(1);
}

.list-link, .list-link:visited {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
    outline: none;

    text-decoration: none;
    color: inherit;
}

.navigation li {
    transition: all 0.2s;
}

.navigation li:hover, .navigation li:has(.list-link:focus)  {
    backdrop-filter: brightness(0.9);
    box-shadow: 0 0 2px 0 #142e7c80;
    transform: translateY(2px);
}

.header {
    grid-column: 2 / -1;
}

.main {

    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
}

.projects {

}

.sidebar {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
}

.announcements {

}

.trending {

}
